.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button_container {
  margin-top: 200px;
  text-align: center;
}

.button {
  background-color: cyan;
  border: none;
  color: black;
  font-size: 24px;
  height: 80px;
  width: 120px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Calendar{
  display: block;
}

#layerEvents{
  display: none;



}
#layerEvents table{
  table-layout: fixed;
  width: 100%;
  height: 100%;
  background-color: #E8E9EB;
  margin: auto;
  font-family: Montserrat;
  color: #0B3157;
}

#layerEvents td{
  font-family: Montserrat;
  width: 50px;


}
#layerEvents th:nth-of-type(1){
  background-color: #0B3157;
  color: white;
  text-align: left;
}
#layerEvents th:nth-of-type(2){
  background-color: #0B3157;
  color: white;
  text-align: center;
}
#layerEvents th:nth-of-type(3){
  background-color: #0B3157;
  color: white;
  text-align: right;
}




#layerEvents td:nth-of-type(1) {

  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-bottom: 2px solid;
  border-top: 2px solid transparent;
  border-color: darkgray;

}


#layerEvents td:nth-of-type(2) {
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid transparent;
  border-color: darkgray;
}


#layerEvents tr:not(:first-child)  {
  opacity: 0.5;
}

.inputText{
  width: 100%
}

.buttonEvent{
  color: #48C1C2;
  font-size: 30px;
  width: 50px;
  text-align: center;
  background-color: #0B3157;
  border: 1px solid;
  transition: 0.2s;
  border-radius: 30pt;
  border-color: #0B3157;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#selectBlock{
  width: 100%
}

.ButtonAddEvent{
  text-align: center;
  background-color: #0B3157;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  border-color: #48C1C2;
  border-color: #48C1C2;
  border: 2px solid;
  color: #48C1C2;
  width: 32px;
  height: 32px;
}
.layerButtonAdd{
  text-align: right;
  background-color: #0B3157;
  padding-right: 20px;
  padding-top: 10px;
}
