#layer1 {
    position:relative;
    min-width: 375px;
}

a{
    text-decoration: none;
}

#layer2 table {
    width: 100%;
    height: 100%;
    border: none;
    position:absolute;
    left:0px;
    z-index:1;
}

#layer2 tr {
    height: 45px;
    list-style: none;
    display: none;
    background-color: #0B3157;
    border: none;
}

#layer2 td {
    height: 40px;
    border: none;
}

#layer2 table td:first-child {text-align: right; padding: 5px; }
#layer2 table td:last-child {text-align: left; padding: 5px;}
#layer2 .title {
    font-size: 18px;
    cursor: pointer;

}

#layer2 .title::before {
    content: ' ▶';
    font-size: 80%;
    color: green;
    text-decoration: none;

}

#layer2.open .title::before {
    content: '▼ ';
    text-decoration: none;
}

#layer2.open tr {
     display: block;
 }

#layer2.close .title::before {
    content: ' ▶';
    text-decoration: none;
}

#layer2.close tr {
    display: unset;
}

.tableEvent{
    padding-right: 25px;
    padding-left: 12px;
    border-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;


}

.tableEvent td:nth-of-type(1){
    text-align: left;
    width: 100%;
    padding-left: 10px;


}

.tableEvent td:nth-of-type(2){
    text-align: right;
    width: 100%;
    padding-right: 10px;
}


.tr-1{

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    background-clip: padding-box;
    border-right-color: white;
    border-left-color: white;
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 900;
    background-color: white;
    text-align: left;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: #0B3157;

}

.tr-2{
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    background-clip: padding-box;
    border-color: #45B4B7;
    border-left-color: white;
    border-right-color: white;
    text-align: left;
    font-family: Montserrat;
    background-color: #45B4B7;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: -0.3px;
    font-size: 14px;
    color: lightgrey;
}

.tr-3{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    background-clip: padding-box;
    border-right-color: white;
    border-left-color: white;
    border-bottom-color: #45B4B7;
    text-align: left;
    font-family: Montserrat;
    font-weight: 700;
    background-color: #45B4B7;
    color: white;
    font-size: 16px;
    letter-spacing: -0.3px;
}

.tr-4{
    background-color: white;
}

.tableNextCalendar{
    table-layout: fixed;
    text-align: center;
    background-color: #0B3157;
    border: none;
    height: 40px;
    width: 100%;
    min-width: 375px;
    max-width: 1000px;
    margin: auto;
}



.tableCalendar{
    min-width: 375px;
    max-width: 1000px;
    table-layout: fixed;
    text-align: center;
    border-collapse: separate;
    margin: auto;
}


.tableCalendar tbody{
    min-width: 375px;
}


.tableCalendar th {
    font-family: Montserrat;
    height: 20px;
    width: 40px;
    opacity: 50%;
    border: 50px;
    text-transform: uppercase;
    color: darkgray;
    background-color: #0B3157;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
}


.tableCalendar tr{
    min-width: 375px;
    margin: auto;
    text-align: center;
}



.tableCalendar td{
    color: #0B3157;
    height: 40px;
    width: 40px;
    font-family: Montserrat;
    size:16px;
    font-weight: normal;
    border: 5px solid transparent;
    background-clip: padding-box;
    border-collapse: separate;
    border-color: white;
}


.tableCalendar td:nth-of-type(6) {
    color:  red;
}


.tableCalendar td:nth-of-type(7) {
    color:  red;
    height: 40px;
    width: 40px;
    border-right: 14px solid transparent;
    background-clip: border-box;
    border-collapse: separate;
    border-color: white;
}

.tableCalendar td:nth-of-type(1) {
    border-left: 16px solid transparent;
    background-clip: padding-box;
    border-collapse: separate;
}


.tableCalendar th:nth-of-type(7) {
    border-right: 14px solid transparent;
    background-clip: padding-box;
    border-color: #0B3157;
    border-collapse: separate;
}

.tableCalendar th:nth-of-type(1) {
    border-left: 16px solid transparent;
    border-color: #0B3157;
    background-clip: padding-box;
    border-collapse: separate;
}

.tableCalendar td:hover{
    background-color: #0B3157;
    color: white;
}


.tableControlCalendar{
    table-layout: fixed;
    border: 0px;
    width: 50%;
}

.td-control{
    text-align: center;
    padding: 10px 15px;
    height: 60px;
}

.rangeDate{
    font-size: 12px;
}

.td-left{
    text-align: left;
    padding-left: 8px;
}

.td-right{
    text-align: right;
    padding-right: 8px;
}

.td-top{
    text-align: center;
    width: 200px;
}

.point-day{
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: red;
    size: 0px;
}

.dayT{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 0.9em;
    font-weight: 400;
    font-weight: bold;
    margin: auto;
    text-align: center;
}

.event-day{
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: royalblue;
    size: 0px;
}

.button-1 {
    background-color: #0B3157;
    text-transform: uppercase;
    display: inline-block;
    color: #48C1C2;
    font-family: Montserrat;
    font-weight: 700;
    border: 2px solid;
    transition: 0.2s;
    border-radius: 0%;
    border-color: #0B3157;
    font-size: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-1:hover {
    background-color: #45B4B7;
    color: white;
}

.button-2 {
    background-color: #0B3157;
    text-transform: uppercase;
    display: inline-block;
    color: white;
    font-family: Montserrat;
    font-weight: 900;
    border: 2px solid;
    transition: 0.2s;
    border-radius: 0%;
    border-color: #0B3157;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-2:hover {
    background-color: #45B4B7;
    color: white;
}

.button-3 {
    font-family: Montserrat;
    background-color: #0B3157;
    display: inline-block;
    padding-right: 11px;
    padding-left: 11px;
    color: darkgray;
    border: 1px solid;
    transition: 0.2s;
    border-radius: 30pt;
    border-color: darkgray;
    font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    opacity: 50%;
    font-weight: 400;
    letter-spacing: 3px;
}

.button-3:hover {
    background-color: #45B4B7;
}